<footer class="pt-24">
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <img src="{{app_logo}}" alt="Techa Logo" style="height: 40px;">
                <p class="text-sm text-muted mt-5 mb-5 pe-lg-24">
                    Elite software engineering team with special interest in artificial and business
                    intelligence, data and hacking.
                </p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="text-lg text-muted text-primary-hover px-1" href="{{github_link}}"
                            target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-lg text-muted text-primary-hover px-1" href="{{linkedin_link}}"
                            target="_blank">
                            <i class="fab fa-linkedin text-primary"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-lg text-muted text-primary-hover px-1"
                            href="{{x_link}}" target="_blank">
                            <i class="fab fa-twitter text-dark"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-lg text-muted text-primary-hover px-1"
                            href="{{youtube_link}}" target="_blank">
                            <i class="fab fa-youtube text-danger"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-lg text-muted text-primary-hover px-1" href="{{instagram_link}}" target="_blank">
                            <i class="fab fa-instagram text-warning"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-lg text-muted text-primary-hover px-1" href="{{fb_link}}"
                            target="_blank">
                            <i class="fab fa-facebook text-primary"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 ms-lg-auto">
                <div class="row">
                    <div class="col-sm-3 col-6 ms-lg-auto mb-4 mb-sm-0">
                        <!-- Title -->
                        <h5 class="h6 mb-2">Products</h5>
                        <!-- List -->
                        <ul class="list-unstyled text-sm mb-0">
                            <li>
                                <a href="{{salesnet_link}}"
                                    class="d-block py-2 text-muted text-primary-hover cursor-pointer">Salesnet</a>
                            </li>
                            <li>
                                <a href="{{intellect_link}}"
                                    class="d-block py-2 text-muted text-primary-hover cursor-pointer">Intellect</a>
                            </li>
                            <li>
                                <a href="{{barman_link}}" class="d-block py-2 text-muted text-primary-hover cursor-pointer">Barman</a>
                            </li>
                            <li>
                                <a href="{{paysafe_link}}"
                                    class="d-block py-2 text-muted text-primary-hover cursor-pointer">PaySafe</a>
                            </li>
                        </ul>
                        <!-- <h5 class="h6 mt-6 mb-2">Starter Kits</h5>
                            <ul class="list-unstyled text-sm mb-0">
                                <li>
                                    <a href="marketplace/bootstrap-starter-kit.html"
                                        class="d-block py-2 text-muted text-primary-hover cursor-pointer">Bootstrap Starter Kit</a>
                                </li>
                                <li>
                                    <a href="marketplace/bootstrap-dashboard-kit.html"
                                        class="d-block py-2 text-muted text-primary-hover cursor-pointer">Bootstrap Dashboard Kit</a>
                                </li>
                            </ul> -->
                    </div>
                    <div class="col-sm-3 col-6 mb-4 mb-sm-0">
                        <h5 class="h6 mb-2">Feedback</h5>
                        <ul class="list-unstyled text-sm mb-0">
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#modalFeedback" aria-label="modalFeedback"
                                    class="d-block py-2 text-muted text-primary-hover cursor-pointer">Tell Us</a>
                            </li>
                        </ul>
                        <h5 class="h6 mt-6 mb-2">Others</h5>
                        <ul class="list-unstyled text-sm mb-0">
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#modalRequest" class="d-block py-2 text-muted text-primary-hover cursor-pointer">Carreers</a>
                            </li>
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#usModal" class="d-block py-2 text-muted text-primary-hover cursor-pointer">Support us</a>
                            </li>
                            <li>
                                <a href="#"
                                    class="d-block py-2 text-muted text-primary-hover cursor-pointer">Partnership</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-6 mb-4 mb-sm-0">
                        <h5 class="h6 mb-2">Services</h5>
                        <ul class="list-unstyled text-sm mb-0">
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#modalRequest" class="d-block py-2 text-muted text-primary-hover cursor-pointer">Software engr..</a>
                            </li>
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#modalRequest" class="d-block py-2 text-muted text-primary-hover cursor-pointer">Digital advertising</a>
                            </li>
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#modalRequest" class="d-block py-2 text-muted text-primary-hover cursor-pointer">Artificial intelligence</a>
                            </li>
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#modalRequest" class="d-block py-2 text-muted text-primary-hover cursor-pointer">Hacking & Security</a>
                            </li>
                            <li>
                                <a href="{{intellect_link}}" class="d-block py-2 text-muted text-primary-hover cursor-pointer">Training</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-sm-3 col-6 mb-4 mb-sm-0">
                        <!-- Title -->
                        <h5 class="h6 mb-2">Techa</h5>
                        <!-- List -->
                        <ul class="list-unstyled text-sm mb-0">
                            <li>
                                <a href="#showcase" class="d-block py-2 text-muted text-primary-hover cursor-pointer">Projects</a>
                            </li>
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#usModal" class="d-block py-2 text-muted text-primary-hover cursor-pointer">Us</a>
                            </li>
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#modalRequest" class="d-block py-2 text-muted text-primary-hover cursor-pointer">Support</a>
                            </li>
                            <li>
                                <a data-bs-toggle="modal" data-bs-target="#modalRequest" class="d-block py-2 text-muted text-primary-hover cursor-pointer">Contact</a>
                            </li>
                            <li>
                                <a href="#" class="d-block py-2 text-muted text-dark-hover disabled">Blog</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-16 mb-4">

        <div class="row align-items-center justify-content-md-between pb-4">
            <div class="col-md-6">
                <div class="copyright text-sm text-center text-md-start">
                    <a href="{{site_link}}">
                        <img src="{{app_logo}}" alt="Techa Logo" style="height: 20px;">
                    </a>
                    <a href="{{policy_link}}" class="h6 text-sm font-bold">{{app_name}} &copy; <span class="copyright_year">2025</span> </a>. All rights reserved.
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0 mx-n4">

                    <li class="nav-item">
                        <a class="nav-link text-muted text-heading-hover font-regular" href="{{terms_link}}">
                            Terms
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted text-heading-hover font-regular" href="{{policy_link}}">
                            Privacy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted text-heading-hover font-regular rounded-pill"
                            href="{{cookie_link}}">
                            Cookies
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</footer>