<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width">
<meta name="csrf-token" content="D5oyu20MjTFHnpuqxPYxshtFGNq0xBfDT4vKYtZM">
<meta name="author" content="Techa">
<meta property="fb:app_id" content="959738874378368-x" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@Techa_" />
<meta name="twitter:title" content="Techa. Advanced Technologies." />
<meta name="twitter:description"
  content="Elite software engineering team with special interest in artificial intelligence, data and hacking.
  Profesionally designed and fully coded produts & bootstrap components, templates, code snippets, guides 
  and examples to quickly build and customize fast, responsive websites, applications, and dashboards." />
<meta name="twitter:creator" content="@techa_" />
<meta property="og:url" content="https://techa.tech" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Techa. Advanced Technologies." />
<meta property="og:description"
  content="Elite software engineering team with special interest in artificial intelligence, data and hacking.
  Profesionally designed and fully coded produts & bootstrap components, templates, code snippets, guides 
  and examples to quickly build and customize fast, responsive websites, applications, and dashboards." />
<meta property="description"
  content="Elite software engineering team with special interest in artificial intelligence, data and hacking.
  Profesionally designed and fully coded produts & bootstrap components, templates, code snippets, guides 
  and examples to quickly build and customize fast, responsive websites, applications, and dashboards." />
<meta name="url" content="https://techa.tech" />
<meta property="og:url" content="https://techa.tech" />
<link rel="image_src" href="static/showcase/img/og/Techa.jpg" />
<meta name="image" content="static/showcase/img/og/Techa.jpg" />
<meta property="og:image" content="static/showcase/img/og/Techa.jpg" />
<meta name="twitter:image" content="static/showcase/img/og/Techa.jpg" />
<title>Techa. Advanced Technologies.</title>
<link rel="canonical" href="https://techa.tech" />
<!-- Styles -->
<link rel="stylesheet" type="text/css" href="static/showcase/css/main.css" />
<link rel="stylesheet" type="text/css" href="static/showcase/css/utility.css" />
<link rel="stylesheet" type="text/css" href="static/showcase/css/demo.css" />
<!-- Favicon -->
<link href="static/showcase/img/brand/favicon.svg" rel="icon" type="image/png" />
<link href="static/showcase/img/brand/favicon.svg" rel="apple-touch-icon-precomposed" />
<!-- Vendor -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@300;400;500;600;700;800;900&display=swap"
  rel="stylesheet" />
<link rel="stylesheet" href="static/showcase/npm/bootstrap-icons-1.8.0/font/bootstrap-icons.css" />
<link rel="stylesheet" href="static/showcase/vendor/icons/css/all.css" />
<link rel="stylesheet" href="static/showcase/vendor/monaco-editor/theme.css" />
<style>
  /*
  [wire\:loading],
  [wire\:loading\.delay],
  [wire\:loading\.inline-block],
  [wire\:loading\.inline],
  [wire\:loading\.block],
  [wire\:loading\.flex],
  [wire\:loading\.table],
  [wire\:loading\.grid],
  [wire\:loading\.inline-flex] {
    display: none;
  }

  [wire\:loading\.delay\.shortest],
  [wire\:loading\.delay\.shorter],
  [wire\:loading\.delay\.short],
  [wire\:loading\.delay\.long],
  [wire\:loading\.delay\.longer],
  [wire\:loading\.delay\.longest] {
    display: none;
  }

  [wire\:offline] {
    display: none;
  }

  [wire\:dirty]:not(textarea):not(input):not(select) {
    display: none;
  }

  input:-webkit-autofill,
  select:-webkit-autofill,
  textarea:-webkit-autofill {
    animation-duration: 50000s;
    animation-name: livewireautofill;
  }

  @keyframes livewireautofill {
    from {}
  }
  */
</style>
<style>
  .bg-gray-dark {
    background-color: #0e1012;
  }
</style>
<!-- Plausible -->
<script defer data-domain="techa.tech" src="static/showcase/js/plausible.js"></script>
<script>window.plausible = window.plausible || function () { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
<!-- GTM -->
<script>
     (function (w, d, s, l, i) {
       w[l] = w[l] || []; w[l].push({
         'gtm.start':
           new Date().getTime(), event: 'gtm.js'
       }); var f = d.getElementsByTagName(s)[0],
         j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
           'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
     })(window, document, 'script', 'dataLayer', 'GTM-MF4DZVH');</script>
<!-- Data Layer -->
<script>
  window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); }
</script>