<div class="modal fade" id="pricingModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content" style="height: inherit">
            <div class="modal-header">
                <h2 class="modal-title" id="modalFullTitle">
                    Techa - Flexible pricing</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <main>
                    <div class="py-10 py-md-16 py-xl-20 position-relative gradient-bottom end-white start-gray-50">
                        <div class="container-xxl max-w-screen-xl position-relative overlap-10">
                            <div class="row justify-content-center mb-10 mb-md-4">
                                <div class="col-md-10 col-lg-10 col-xl-10 text-md-center">
                                    <p class="text-lg text-heading px-lg-16 px-xl-24">
                                        With one subscription you get all the tools you need to build
                                        production-ready websites and applications.
                                    </p>
                                </div>
                            </div>
                            <div class="row g-2 justify-content-center">
                                <div class="col-lg col-md-7">
                                    <div class="card rounded-4 shadow-soft-3 shadow-5-hover ">
                                        <div class="px-8 pt-8 pb-4">
                                            <h4 class="mb-4 ls-tight text-heading">Free</h4>
                                            <p class=" text-sm lh-relaxed">
                                                Everything you need to get started. Upgrade when you need more.
                                            </p>
                                            <div
                                                class="d-flex align-items-center mt-6 mb-8 lh-none  text-heading d-block display-5 ls-tight mb-0">
                                                <span
                                                    class="font-semibold text-2xl align-self-start mt-1 mt-sm-1 me-1">
                                                    &dollar;
                                                </span>
                                                0
                                                <span
                                                    class="d-inline-block font-semibold  text-muted text-md mt-sm-4 ms-2">
                                                    forever</span>
                                            </div>
                                            <div class="text-sm font-semibold">
                                                <span class="text-muted">From &dollar;0.</span>
                                                <span class="text-danger">You save &dollar;0 USD</span>
                                            </div>
                                            <div class="mt-5 mb-7">
                                                <a href="register.html"
                                                    class="btn text-sm w-full font-bold rounded-2 transform scale-105-hover transition ease-in btn-neutral shadow-none">Get
                                                    started</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-6 px-3">
                                        <ul class="list-unstyled">
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span><b>1</b> website management</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Server maintainanance</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Consultation</span>
                                                </div>
                                                <div class="ms-auto">
                                                    <span class="d-inline-block cursor-pointer"
                                                        data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                        data-bs-content="All licenses are perpetual, meaning that you'll still have a license if you don't renew your paid plan. You'll retain access to the last version available when your plan was active.">
                                                        <i class="far fa-info-circle text-sm"></i>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Free updates</span>
                                                </div>
                                                <div class="ms-auto">
                                                    <span class="d-inline-block cursor-pointer"
                                                        data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                        data-bs-content="You receive all updates for free when you have an active subscription. If you decide to cancel at anytime, updates will no longer be available for this plan.">
                                                        <i class="far fa-info-circle text-sm"></i>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>60 free UI components</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle me-2 bg-secondary text-muted">
                                                        <i class="far fa-times"></i>
                                                    </div>
                                                    <span>Premium templates</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle me-2 bg-secondary text-muted">
                                                        <i class="far fa-times"></i>
                                                    </div>
                                                    <span>Create unlimited collections</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle me-2 bg-secondary text-muted">
                                                        <i class="far fa-times"></i>
                                                    </div>
                                                    <span>Commercial use / SaaS</span>
                                                </div>
                                                <div class="ms-auto">
                                                    <span class="d-inline-block cursor-pointer"
                                                        data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                        data-bs-content="You are licensed to use Webpixels to create products for yourself or for your clients and may be sold or distributed for free.">
                                                        <i class="far fa-info-circle text-sm"></i>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg col-md-7">
                                    <div class="card rounded-4 shadow-soft-3 shadow-5-hover ">
                                        <div class="px-8 pt-8 pb-4">
                                            <h4 class="mb-4 ls-tight text-heading">Personal</h4>
                                            <p class=" text-sm lh-relaxed">
                                                Perfect for use in a personal website or a client project.
                                            </p>
                                            <div
                                                class="d-flex align-items-center mt-6 mb-8 lh-none  text-heading d-block display-5 ls-tight mb-0">
                                                <span
                                                    class="font-semibold text-2xl align-self-start mt-1 mt-sm-1 me-1">
                                                    &dollar;
                                                </span>
                                                35
                                                <span
                                                    class="d-inline-block font-semibold  text-muted text-md mt-sm-4 ms-1">
                                                    / per year</span>
                                            </div>
                                            <div class="text-sm font-semibold">
                                                <span class="text-muted">From &dollar;59.</span>
                                                <span class="text-danger">You save &dollar;23 USD</span>
                                            </div>
                                            <div class="mt-5 mb-7">
                                                <a href="plans/checkout/personal/customer.html"
                                                    class="btn text-sm w-full font-bold rounded-2 btn-neutral shadow-none">Choose
                                                    Personal</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-6 px-3">
                                        <ul class="list-unstyled">
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span><b>1</b> user</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Use on <b>1 project</b></span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Lifetime access</span>
                                                </div>
                                                <div class="ms-auto">
                                                    <span class="d-inline-block cursor-pointer"
                                                        data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                        data-bs-content="All licenses are perpetual, meaning that you'll still have a license if you don't renew your paid plan. You'll retain access to the last version available when your plan was active.">
                                                        <i class="far fa-info-circle text-sm"></i>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Free updates</span>
                                                </div>
                                                <div class="ms-auto">
                                                    <span class="d-inline-block cursor-pointer"
                                                        data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                        data-bs-content="You receive all updates for free when you have an active subscription. If you decide to cancel at anytime, updates will no longer be available for this plan.">
                                                        <i class="far fa-info-circle text-sm"></i>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>500+ UI components</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle me-2 bg-secondary text-muted">
                                                        <i class="far fa-times"></i>
                                                    </div>
                                                    <span>Premium templates</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle me-2 bg-secondary text-muted">
                                                        <i class="far fa-times"></i>
                                                    </div>
                                                    <span>Create unlimited collections</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle me-2 bg-secondary text-muted">
                                                        <i class="far fa-times"></i>
                                                    </div>
                                                    <span>Commercial use / SaaS</span>
                                                </div>
                                                <div class="ms-auto">
                                                    <span class="d-inline-block cursor-pointer"
                                                        data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                        data-bs-content="You are licensed to use Webpixels to create products for yourself or for your clients and may be sold or distributed for free.">
                                                        <i class="far fa-info-circle text-sm"></i>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg col-md-7">
                                    <div
                                        class="card rounded-4 shadow-soft-3 shadow-5-hover gradient-top-right start-gray-900 middle-gray-900 end-indigo-800">
                                        <div class="px-8 pt-8 pb-4">
                                            <h4 class="mb-4 ls-tight text-white">Pro</h4>
                                            <p class="text-white opacity-8 text-sm lh-relaxed">
                                                Get instant access to all 500+ UI components and templates.
                                            </p>
                                            <div
                                                class="d-flex align-items-center mt-6 mb-8 lh-none text-white d-block display-5 ls-tight mb-0">
                                                <span
                                                    class="font-semibold text-2xl align-self-start mt-1 mt-sm-1 me-1">
                                                    &dollar;
                                                </span>
                                                59
                                                <span
                                                    class="d-inline-block font-semibold text-white text-opacity-80 text-md mt-sm-4 ms-1">
                                                    / per year</span>
                                            </div>
                                            <div class="text-sm font-semibold">
                                                <span class="text-white">From &dollar;99.</span>
                                                <span class="text-danger">You save &dollar;39 USD</span>
                                            </div>
                                            <div class="mt-5 mb-7">
                                                <a href="plans/checkout/pro/customer.html"
                                                    class="btn text-sm w-full font-bold rounded-2 btn-white">Choose
                                                    Pro</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-6 px-3">
                                        <ul class="list-unstyled">
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span><b>1</b> user</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Use on <b>5 projects</b></span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Lifetime access</span>
                                                </div>
                                                <div class="ms-auto">
                                                    <span class="d-inline-block cursor-pointer"
                                                        data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                        data-bs-content="All licenses are perpetual, meaning that you'll still have a license if you don't renew your paid plan. You'll retain access to the last version available when your plan was active.">
                                                        <i class="far fa-info-circle text-sm"></i>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Free updates</span>
                                                </div>
                                                <div class="ms-auto">
                                                    <span class="d-inline-block cursor-pointer"
                                                        data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                        data-bs-content="You receive all updates for free when you have an active subscription. If you decide to cancel at anytime, updates will no longer be available for this plan.">
                                                        <i class="far fa-info-circle text-sm"></i>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>500+ UI components</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle me-2 bg-success text-white">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Premium templates</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle me-2 bg-success text-white">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Create unlimited collections</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle me-2 bg-secondary text-muted">
                                                        <i class="far fa-times"></i>
                                                    </div>
                                                    <span>Commercial use / SaaS</span>
                                                </div>
                                                <div class="ms-auto">
                                                    <span class="d-inline-block cursor-pointer"
                                                        data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                        data-bs-content="You are licensed to use Webpixels to create products for yourself or for your clients and may be sold or distributed for free.">
                                                        <i class="far fa-info-circle text-sm"></i>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg col-md-7">
                                    <div class="card rounded-4 shadow-soft-3 shadow-5-hover ">
                                        <div class="px-8 pt-8 pb-4">
                                            <h4 class="mb-4 ls-tight text-heading">Business</h4>
                                            <p class=" text-sm lh-relaxed">
                                                Perfect for teams with big goals and commercial projects or SAAS
                                                apps.
                                            </p>
                                            <div
                                                class="d-flex align-items-center mt-6 mb-8 lh-none  text-heading d-block display-5 ls-tight mb-0">
                                                <span
                                                    class="font-semibold text-2xl align-self-start mt-1 mt-sm-1 me-1">
                                                    &dollar;
                                                </span>
                                                197
                                                <span
                                                    class="d-inline-block font-semibold  text-muted text-md mt-sm-4 ms-1">
                                                    / per year</span>
                                            </div>
                                            <div class="text-sm font-semibold">
                                                <span class="text-muted">From &dollar;329.</span>
                                                <span class="text-danger">You save &dollar;131 USD</span>
                                            </div>
                                            <div class="mt-5 mb-7">
                                                <a href="plans/checkout/business/customer.html"
                                                    class="btn text-sm w-full font-bold rounded-2 btn-neutral shadow-none">Choose
                                                    Business</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-6 px-3">
                                        <ul class="list-unstyled">
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Up to <b>20</b> users</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Use on <b>unlimited</b> projects</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Lifetime access</span>
                                                </div>
                                                <div class="ms-auto">
                                                    <span class="d-inline-block cursor-pointer"
                                                        data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                        data-bs-content="All licenses are perpetual, meaning that you'll still have a license if you don't renew your paid plan. You'll retain access to the last version available when your plan was active.">
                                                        <i class="far fa-info-circle text-sm"></i>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Free updates</span>
                                                </div>
                                                <div class="ms-auto">
                                                    <span class="d-inline-block cursor-pointer"
                                                        data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                        data-bs-content="You receive all updates for free when you have an active subscription. If you decide to cancel at anytime, updates will no longer be available for this plan.">
                                                        <i class="far fa-info-circle text-sm"></i>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle bg-success text-white me-2">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>500+ UI components</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle me-2 bg-success text-white">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Premium templates</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle me-2 bg-success text-white">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Create unlimited collections</span>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center py-1 mb-2 font-semibold text-sm">
                                                <div>
                                                    <div
                                                        class="d-inline-flex align-items-center justify-content-center w-5 h-5 text-xs rounded-circle me-2 bg-success text-white">
                                                        <i class="far fa-check"></i>
                                                    </div>
                                                    <span>Commercial use / SaaS</span>
                                                </div>
                                                <div class="ms-auto">
                                                    <span class="d-inline-block cursor-pointer"
                                                        data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                        data-bs-content="You are licensed to use Webpixels to create products for yourself or for your clients and may be sold or distributed for free.">
                                                        <i class="far fa-info-circle text-sm"></i>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Guarantees -->
                            <div class="mt-12 text-center">
                                <p class="text-sm mb-16">
                                    All plans include Free Updates, Technical Support, Free Cancelation, and a
                                    Money-back Guarantee subject to our
                                    <a href="./license">License</a>.
                                </p>
                                <section>
                                    <h5 class="text-uppercase text-sm ls-widest text-uppercase mb-12">Trusted by the
                                        best tech teams</h5>
                                    <div
                                        class="hstack gap-10 gap-lg-16 justify-content-lg-center mt-20 mx-auto scrollable-x">
                                        <div class="flex-none">
                                            <img src="./static/showcase/img/partners/bizoo-dark.png"
                                                class="h-6 w-auto img-grayscale opacity-70" />
                                        </div>
                                        <div class="flex-none">
                                            <img src="./static/showcase/img/partners/coinbase.png"
                                                class="h-6 w-auto img-grayscale opacity-70" />
                                        </div>
                                        <div class="flex-none">
                                            <img src="./static/showcase/img/partners/speckyboy.png"
                                                class="h-6 w-auto img-grayscale opacity-70" />
                                        </div>
                                        <div class="flex-none">
                                            <img src="./static/showcase/img/partners/google.png"
                                                class="h-6 w-auto img-grayscale opacity-70" />
                                        </div>
                                        <div class="flex-none">
                                            <img src="./static/showcase/img/partners/y-combinator.png"
                                                class="h-6 w-auto img-grayscale opacity-70" />
                                        </div>
                                        <div class="flex-none">
                                            <img src="./static/showcase/img/partners/oblio-dark.png"
                                                class="h-6 w-auto img-grayscale opacity-70" />
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div
                            class="position-absolute top-1/2 start-1/2 h-2/3 w-2/3 transform translate-y-n1/2 translate-x-n1/2 scale-lg-105 gradient-bottom-right start-purple-500 end-indigo-500 filter blur-100 opacity-30">
                        </div>
                    </div>
                </main>

            </div>

            <div class="modal-footer">
                <!--  -->
                <div class="row mt-5 mb-7">
                    <div class="col">
                        <ul class="nav mx-n4">
                            <li class="nav-item"><a href="#"
                                    class="nav-link text-lg text-muted text-primary-hover"><i
                                        class="bi bi-twitter"></i></a></li>
                            <li class="nav-item"><a href="#"
                                    class="nav-link text-lg text-muted text-primary-hover"><i
                                        class="bi bi-facebook"></i></a></li>
                            <li class="nav-item"><a href="#"
                                    class="nav-link text-lg text-muted text-primary-hover"><i
                                        class="bi bi-github"></i></a></li>
                            <li class="nav-item"><a href="#"
                                    class="nav-link text-lg text-muted text-primary-hover"><i
                                        class="bi bi-instagram"></i></a></li>
                            <li class="nav-item"><a href="#"
                                    class="nav-link text-lg text-muted text-primary-hover"><i
                                        class="bi bi-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <a href="https://techa.tech">
                            <p class="text-sm text-muted">
                                <img src="static/showcase/img/brand/favicon.svg" alt="Techa Logo" style="height: 20px;">
                                © Copyright 2024. Techa - Advanced Technologies.
                            </p>
                        </a>
                    </div>
                </div>
                <!--  -->
                <button type="button" class="btn btn-outline-warning rounded-pill" data-bs-dismiss="modal">
                    Return.
                </button>
            </div>

        </div>
    </div>
</div>