<div class="modal fade" id="usModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen" role="document">
		<div class="modal-content" style="height: inherit">
			<div class="modal-header">
				<h2 class="modal-title" id="modalFullTitle">
					Techa - Advanced Technologies</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="col-md-12 col-lg-12">
					<div class="card bg-dark text-white text-center mb-3" style="height: 200px;">

						<!--  -->

						<div class="card-img-overlay">
							<img src="./static/showcase/img/brand/russiandev1.png" class="card-img-top"
								style="object-fit: cover; height: 100%;">
						</div>
					</div>
				</div>

				<!--  -->
				<div class="row align-items-center mb-20">
					<div class="col-lg-6 mb-4 mb-lg-0">
						<h3 class="display-6 ls-tight mb-5">Vision & Mission</h3>
						<div class="row mx-n2 mt-12">
							<div class="col-sm-4 mb-3 mb-sm-0">
								<h2 class="text-primary mb-1"><span class="display-6 fw-semibold">500</span>
									<span class="counter-extra">+</span>
								</h2>
								<p class="text-muted">Businesses</p>
							</div>
							<div class="col-sm-3 mb-3 mb-sm-0">
								<h2 class="text-danger mb-1"><span class="display-6 fw-semibold">4.9</span></h2>
								<p class="text-muted">Average Rating</p>
							</div>
						</div>
					</div>
					<div class="col-lg-5 ms-lg-auto">
						<div class="vstack gap-8">
							<div>
								<div class="d-flex align-items-center gap-4 mb-4">
									<div class="icon icon-shape text-bg-primary text-lg rounded-circle"><i
											class="fa fa-rocket"></i></div>
									<h3 class="fw-semibold">Our Mission</h3>
								</div>
								<p class="">
									Our mission is simple, to empower small to medium sized businesses to thrive by
									providing them with smart and
									accessible business management tools.
								</p>
							</div>
							<hr class="my-0">
							<div>
								<div class="d-flex align-items-center gap-4 mb-4">
									<div class="icon icon-shape text-bg-primary text-lg rounded-circle"><i
											class="bi bi-eye"></i></div>
									<h3 class="fw-semibold">Our Vision</h3>
								</div>
								<p class="">Our vision is to be the ultimate partner for business growth,
									eliminating stress and fostering confidence in business.
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row g-10 align-items-center">
					<div class="col-lg-6">
						<section>
							<h1 class="lh-tight ls-tighter font-bolder display-5 mb-7">
								<a class="h31q" href="https://techa.tech">Who we are.</a>
							</h1>
							<p class="text-heading fw-semibold lh-lg">
								Elite software engineering team with special interest in artificial and business
								intelligence, data and hacking.
								At Techa, we envision a world where technology empowers every person and
								organization to
								succeed.
								With a passion for artificial intelligence, business intelligence, and secure
								data-driven solutions, we aim to be a trusted partner for businesses seeking growth
								and
								innovation in today’s fast-paced digital landscape.</p>
							<p>Techa aims to build experience that makes lives easy and businesses profitable.</p>
						</section>
					</div>
					<div class="col-12 col-md-12 col-lg-6 position-relative">
						<img src="./static/showcase/img/brand/russiandev.png" class="img-fluid rounded-5"
							alt="Move faster than ever with Techa">
					</div>
				</div>

				<!--  -->
				<div class="row align-items-center mt-12">
					<div class="row">
						<div class="col">
							<div class="pe-51">
								<h3 class="h2 text-heading fw-semibold lh-lg mb-3">
									Let's talk about your business n AI.<br>
									How best can you manage and boast sales...?</h3><a href="mailto:hi@techa.tech"
									class="h3 text-primary">hi@techa.tech <span
										class="svg-icon svg-align-baseline ms-3"><i
											class="bi bi-arrow-right"></i></span></a>
							</div>
							<div class="my-7">
								<a data-bs-toggle="modal" data-bs-target="#modalRequest" class="btn btn-dark">Get In
									Touch</a>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="modal-footer">
				<!--  -->
				<div class="row mt-5 mb-7">
					<div class="col">
						<ul class="nav mx-n4">
							<li class="nav-item"><a href="{{x_link}}" class="nav-link text-lg text-dark text-primary-hover"><i
										class="bi bi-twitter"></i></a></li>
							<li class="nav-item"><a href="{{fb_link}}" class="nav-link text-lg text-primary text-dark-hover"><i
										class="bi bi-facebook"></i></a></li>
							<li class="nav-item"><a href="{{github_link}}" class="nav-link text-lg text-muted text-primary-hover"><i
										class="bi bi-github"></i></a></li>
							<li class="nav-item">
								<a href="{{instagram_link}}" class="nav-link text-lg text-warning text-primary-hover"><i class="bi bi-instagram"></i></a>
							</li>
							<li class="nav-item"><a href="{{whatsapp_link}}" class="nav-link text-lg text-success text-primary-hover"><i
										class="bi bi-whatsapp"></i></a>
									</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-auto">
						<a href="{{site_link}}">
							<p class="text-sm text-muted">
								<img src="{{site_logo}}" alt="Techa Logo" style="height: 20px;">
								© Copyright <span class="copyright_year">2025</span>. Techa - Advanced Technologies.
							</p>
						</a>
					</div>
				</div>
				<!--  -->
				<button type="button" class="btn btn-outline-warning rounded-pill" data-bs-dismiss="modal">
					Return.
				</button>
			</div>

		</div>
	</div>
</div>